// body layout login page
.layout{
        background: #e96828 !important;
}

//header background
header.d-flex.shadow-sm.align-items-center.learner-variant-header.pl-4 {
    background: #e96828 !important;
}

// login page customization
a#controlled-tab-tab-\/register {
    display: none !important;
}
// sign in button
button#sign-in {
    background: #e96828 !important;
    border-color: #e96828 !important;
}

