// body layout login page
#root .layout{
    background: rgb(233,104,40) !important;
    background: linear-gradient(90deg, rgba(233,104,40,1) 0%, rgba(255,255,255,1) 100%) !important;
}

// login page customization
#root .layout .content .nav.nav-tabs .nav-link:first-child{
    display: none !important;
}

// sign in button
#root .layout .content #main-content .btn-brand{
    background-color: #e96828 !important;
}

