// Use this file to define style overrides for @edx/paragon
// This file is included after all Paragon styles, but should generally avoid using private mixins in Paragon.

// authn mfe
body { 
    color: #000;
    font-size: 14px;
    overflow-x: hidden;
}

#root {
    color: #000;
    font-size: 14px;
    overflow-x: hidden
}

img.logo {
    width: 171px
}

img.logo-small {
    width: 150px
}

a {
    cursor: pointer
}

a.muted-link, div.text-accent-a, span.text-accent-a {
    color: #BE3712 !important
}

a.btn, button.btn {
    color: #000
}

a.text-body {
    color: #000!important
}


button.btn-brand {
    background-color: #BE3712;
    border-color: #BE3712;
    color: #fff
}

button.btn-brand:hover {
    color: #BE3712;
    border-color: #BE3712;
    background-color: #fff;
    -webkit-transition: all .5s ease-in-out!important;
    -o-transition: all .5s ease-in-out!important;
    transition: all .5s ease-in-out!important;
    transform: translateY(-4px);
    box-shadow: 5px 8px 18px rgb(0 0 0 / 8%)
}

div.bg-primary-400, span.bg-primary-400 {
    background-color: #402781!important
}

.large-screen-svg-primary, .medium-screen-svg-primary {
    fill: #402781!important
}

.edx-cookie-banner-wrapper .alert-dismissible button.close {
    right: 12px !important
}

div.small-screen-top-stripe {
    background-image: unset !important
}

#forgot-password {
    font-size: 16px
}

#forgot-password:hover {
    color: #BE3712 !important;
    -webkit-transition: all ease .4s;
    transition: all ease .4s;
    text-decoration: none
}

h1.display-2 {
    font-size: 2.85rem
}

a.nav-link, pgn__tab_more.nav-link.active dropdown button.dropdown-toggle {
    color: #000!important
}

nav.nav-tabs .nav-item.show .nav-link, nav.nav-tabs .nav-link.active, 
nav.nav-tabs .pgn__tab_more.nav-link.active .dropdown .dropdown-toggle, 
a.pgn__tab_more.nav-link.active .dropdown .nav-tabs .dropdown-toggle {
    border-color: #0000 #0000 #BE3712;
    color: #BE3712
}

a.nav-link:focus, a.nav-link:hover, 
a.pgn__tab_more.nav-link.active .dropdown .dropdown-toggle:focus, 
a.pgn__tab_more.nav-link.active .dropdown .dropdown-toggle:hover {
    color: #000
}

input.form-control {
    border: 0.5px solid #373737;
    color: #000
}

input.form-control:focus {
    border-color: #373737;
    box-shadow: 0 0 0 0.5px #373737;
    color: #000
}

input.form-control:hover {
    border: 1px solid #373737
}

@media (min-width: 1200px) {
    [dir=ltr] div.extra-large-screen-top-stripe {
        background-image: unset
    }
    div.extra-large-screen-top-stripe {
        display: none
    }
}

// app mfe
[dir=ltr] #root header a.logo {
    margin-right: 1.75rem;
}

#root header a.logo {
    height: 40px;
}

#root header {
    padding: 0.5rem 0;
}

footer {
    margin-top: 3rem;
}

a, .btn-icon.btn-icon-primary {
    color: #BE3712;
}

.btn {
    font-size: 16px;
}

.btn-brand {
    background-color: #BE3712;
    border-color: #BE3712;
}

.btn-brand:hover {
    color: #BE3712 !important;
    background: #fff;
    border-color: #BE3712;
}

.btn-outline-primary {
    border-color: #BE3712;
    color: #BE3712 !important;
}

.btn-outline-primary:hover {
    border-color: #BE3712;
}

.btn-inverse-outline-primary {
    color: #fff !important;
}

.btn-inverse-outline-primary:hover {
    color: #0a3055 !important;
}

.btn-icon.btn-icon-primary.focus, .btn-icon.btn-icon-primary:focus { 
    box-shadow: inset 0 0 0 2px #BE3712;
    color: #BE3712; 
}

.btn-icon.btn-icon-primary.active, .btn-icon.btn-icon-primary.hover, 
.btn-icon.btn-icon-primary:active, .btn-icon.btn-icon-primary:hover {
    background-color: #BE3712;
}

.form-control {
    font-size: 14px;
}

.dropdown-menu {
    border: none;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    border-radius: 5px;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    color: #212529; 
    font-size: 14px;
    min-width: 12rem;
}

.pgn__card-header .pgn__card-header-actions a.btn {
    color: #fff;
}

.nav-underline-tabs a.nav-link.active, 
.nav-underline-tabs a.nav-link:focus, 
.nav-underline-tabs a.nav-link:hover {
    border-bottom-color: #BE3712;
    color: #BE3712; 
}

.course-tabs-navigation .nav a:not(.active):hover {
    color: #BE3712 !important;
}

.nav-pills .nav-link.active, .nav-pills .pgn__tab_more.nav-link.active .dropdown .dropdown-toggle, 
.nav-pills .show>.nav-link, .pgn__tab_more.nav-link.active .dropdown .nav-pills .dropdown-toggle {
    background-color: #BE3712;
    color: #fff !important;
}

.nav-pills .nav-item {
    margin-right: 1rem;
}
